{% extends "base/base.html" %}
{% block title %}Pagina Acceso al Sistema{% endblock %}
{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>ACCESO</h3>
                    </div>
                </div>
            </div>
        </section>
  <body>
    <section class="login">
        <form method="post">
            {% csrf_token %}
            <br class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 offset-4">
                    <div class="form-group">
                        <label for="username">Usuario:</label>
                        <input class="form-control" type="text" id="username" name="username" >
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 offset-4">
                     <div class="form-group">
                    <label for="username">Contraseña:</label>
                         <input class="form-control" type="password" id="password" name="password">
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                <button class="btn btn-success btn-lg boton2" role="button" type="submit"> Ingresar</button>
                </div>
            <br>
            <br>
        </form>
    </section>
  </body>
{% endblock %}
