{% extends "base/base.html" %}
{% block title %}Confirmacion de reseteo{% endblock %}
{% block content %}
        {% if validlink %}
            <section class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3>confirmacion nueva contraseña</h3>
                        </div>
                    </div>
                </div>
            </section>
            <body>
            <section>
                <br>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        <form method="POST" >
                            {% csrf_token %}
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                                <div class="form-group">
                                    <label style="border-radius: 8px;">Ingrese nueva contaseña:</label>
                                        {{form.error.new_password1}}
                                        {{form.new_password1}}
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                                <div class="form-group">
                                    <label style="border-radius: 8px;">Confirme nueva contaseña:</label>
                                        {{form.error.new_password2}}
                                        {{form.new_password2}}
                                </div>
                            </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info" type="submit">Cambiar contraseña</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>

        {% else %}
                <br>
                <br>
            <h3 class="text-center">ENLACE INVALIDO:ESTE ENLACE YA HA SIDO UTILIZADO</h3>
                <br>
                <br>

        {% endif %}
    </section>
    <br>
    <br>
</body>
{% endblock %}