{% extends "base/base.html" %}
{% block title %}Reseteo contraseña completado{% endblock %}
{% block content %}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Completado</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <body>
    <br>
    <br>
    <h4 class="text-center"><b>Su contraseña se a restablecido correctamente</b></h4>

    <p class="text-center"><a href="{% url 'login' %}">Iniciar Sesion</a></p>
    <br>
    </body>
</section>
{% endblock %}