{% extends "base/base.html" %}
{% block title %}Reseteo password{% endblock %}
{% block content %}
<section class="page-header" xmlns="http://www.w3.org/1999/html">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>Restablacer Contraseña</h3>
                    </div>
                </div>
            </div>
  </section>
<section>
<br>
<br>
    <p><h4 class="text-center">Hemos enviado un mail con un enlace para restabecer tu contraseña</h4></p>
<br>
<br>
</section>
{% endblock %}