{% extends "base/base.html" %}
{% block title %}Reseteo password{% endblock %}
{% block content %}
<section class="page-header" xmlns="http://www.w3.org/1999/html">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>Restablacer Contraseña</h3>
                    </div>
                </div>
            </div>
  </section>
    <br>
    <br>
    <br>
    <section>
           <div class="container">
               <form method='post'>
                   {% csrf_token %}
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <div style="text-align:center">
                            <label>Correo:{{form.email}}</label>
                            <input class="btn btn-info" type="submit" value="Enviar"/>
                            </div>
                        </div>
                    </div>
               </form>
           </div>
    </section>
    <br>
    <br>
    <br>
{% endblock %}