{% extends "base/base.html" %}
{% block title %}Datos del Donante{% endblock %}
{% block content %}
<section class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
            <h3>DATOS DEL DONANTE</h3>
          </div>
      </div>
  </div>
</section>
<section style="margin-top: 20px; margin-bottom: 20px;">
  <div class="container">


    <div class="card">
      <div class="card-header">
        Datos
      </div>
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-user"></i> {{donador.user.username}}</h5>
        <div class="row">
          <div class="col-lg-6">
            <p class="h5"><strong>Nombre:</strong> {{donador.user.first_name}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Apellido:</strong> {{donador.user.last_name}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Domicilio:</strong> {{donador.direccion}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Tel&eacute;fono:</strong> {{donador.telefono}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Email:</strong> {{donador.user.email}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Hospital m&aacute;s cercano:</strong> {{donador.hospital}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Fecha de Nacimiento:</strong> {{donador.fecha_nacimiento}}</p>
       </div>
       <div class="col-lg-6">
        <p class="h5"><strong>Genero:</strong> {{donador.genero}}</p>
    </div>
    <div class="col-lg-6">
      <p class="h5"><strong>Grupo Sanguineo:</strong> {{donador.grupo_sanguineo}}</p>
 </div>
 <div class="col-lg-6">
  <p class="h5"><strong>Factor Sanguineo:</strong> {{donador.factor_sanguineo}}</p>
</div>
      </div>
    {% if not donante %}
      <div class="row">
        <div class="col-lg-6 text-left" >
          <a class="btn btn-default" href="{% url 'lista_donante' %}">Volver</a>
        </div>
        <div class="col-lg-6 text-right" >
          <a class="btn btn-success" href="{% url 'modificar_donante' pk=donador.pk %}">Modificar</a>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
    </div>
</section>
{% endblock %}