<footer>
    <section class="footer-widget-area footer-widget-area-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                       <div class="sidebar-widget-wrapper">
                            <div class="footer-widget-header clearfix">
                                <h3>Datos de Contacto</h3>
                            </div>  <!--  end .footer-widget-header -->
                            <div class="textwidget">
                                <i class="fa fa-envelope-o fa-contact"></i> <p><a href="mailto:mauricio.d.riera@gmail.com">mauricio.d.riera@gmail.com</a><br/><a href="mailto:sistemadonar@gmail.com">sistemadonar@gmail.com</a></p>
                                <i class="fa fa-location-arrow fa-contact"></i> <p>Universidad de Mendoza</p>
                                <i class="fa fa-phone fa-contact"></i> <p>San Rafael, Mendoza</p>
                            </div>
                        </div> <!-- end .footer-widget-wrapper  -->
                    </div> <!--  end .footer-widget  -->
                </div> <!--  end .col-md-6 col-sm-12 -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-widget clearfix">
                        <div class="sidebar-widget-wrapper">
                            <div class="footer-widget-header clearfix">
                                <h3>Links</h3>
                            </div>  <!--  end .footer-widget-header -->
                           <ul class="footer-useful-links">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right fa-footer"></i>
                                        Hospital Espa&ntilde;ol
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right fa-footer"></i>
                                        Policlinica de San Rafael
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right fa-footer"></i>
                                        Hospital Schestakow
                                    </a>
                                </li>

                            </ul>

                        </div> <!--  end .footer-widget  -->
                    </div> <!--  end .footer-widget  -->
                </div> <!--  end .col-md-6 col-sm-12 -->
            </div> <!-- end row  -->
        </div> <!-- end .container  -->
    </section> <!--  end .footer-widget-area  -->
    <!--FOOTER CONTENT  -->
   <section class="footer-contents">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 text-center">
                    <p class="copyright-text"> Todo los Derechos Reservados 2019-2020</p>
                </div>  <!-- end .col-sm-6  -->

            </div> <!-- end .row  -->

        </div> <!--  end .container  -->

    </section> <!--  end .footer-content  -->

</footer>