<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Donar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
          {% if 'Jefe de Área' ==  request.user.groups.all.0.name %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown0" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Administraci&oacute;n</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
             <a class="dropdown-item" href="{% url 'lista_donante' %}">Donantes</a>
              <a class="dropdown-item" href="{% url 'empleado_listar' %}">Empleados</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">Estad&iacute;sticas</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="{% url 'generar_reporte' parm=1 %}">Donantes Acticos</a>
                    <a class="dropdown-item" href="{% url 'generar_reporte' parm=2 %}">Donantes Sexo</a>
                    <a class="dropdown-item" href="{% url 'generar_reporte' parm=3 %}">Donantes Grupo/Factor</a>
                    <a class="dropdown-item" href="{% url 'generar_reporte' parm=4 %}">Donantes Edad/Sexo</a>
                    <a class="dropdown-item" href="{% url 'generar_reporte' parm=5 %}">Registro Donaciones</a>
                    <a class="dropdown-item" href="{% url 'generar_reporte' parm=6 %}">Donates Desactivos/Motivo</a>
                </div>
          </li>
          {% elif 'Empleado' ==  request.user.groups.all.0.name %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Administraci&oacute;n</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'lista_donante' %}">Donantes</a>
            </div>
            </li>
          {% else %}
            <li class="nav-item active">
            </li>
           {% endif %}
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/#acercade">Acerca de...</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'crear_donante' %}">Registrarse</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-link"><a class="nav-link" href="#" title="Contacto">Contacto</a></li>
        {% if user.is_authenticated %}
          {% if 'Jefe de Área' ==  request.user.groups.all.0.name %}
          <li class="nav-link"><a class="nav-link" href="{% url 'preperfil_jefedearea' %}" title="Usuario en el sistema"><i
              class="fas fa-user"></i> {{ user.username }}</a></li>
        <li class="nav-link"><a class="nav-link" href="{% url 'cerrar_sesion' %}" title="Salir del sistema">Salir</a></li>
          {% elif 'Empleado' ==  request.user.groups.all.0.name %}
        <li class="nav-link"><a class="nav-link" href="{% url 'preperfil_empleado' %}" title="Usuario en el sistema"><i
              class="fas fa-user"></i> {{ user.username }}</a></li>
        <li class="nav-link"><a class="nav-link" href="{% url 'cerrar_sesion' %}" title="Salir del sistema">Salir</a></li>
          {% else %}
           <li class="nav-link"><a class="nav-link" href="{% url 'preperfil_donante' %}" title="Usuario en el sistema"><i
              class="fas fa-user"></i> {{ user.username }}</a></li>
            <li class="nav-link"><a class="nav-link" href="{% url 'cerrar_sesion' %}" title="Salir del sistema">Salir</a></li>
          {% endif %}
        {% else %}
        <li class="nav-link"><a class="nav-link" href="{% url 'login' %}" title="Ingresar al sistema">Acceso</a></li>
        {% endif %}
      </ul>
  </div>
</nav>