{% extends "base/base.html" %}
{% block title %}Registro Donaciones{% endblock %}
{% block content %}
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>DONACIONES</h3>
                    </div>
                </div>
            </div>
        </section>
<section>
     <div class="container">
         <div class="appointment-form-wrapper clearfix">
             <h3 class="join-heading">Registro de donaciones</h3>
             <form method='post' class="appoinment-form">
                 {% csrf_token %}
                 <br class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{form.donador.label}}</label>
                            <input type="hidden" value="{{donador.id}}" name="{{form.donador.html_name}}">
                            <span class="form-control">{{donador.user.last_name}},{{donador.user.first_name}}</span>
                        </div>
                    </div>
                   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                        <div class="form-group">
                            <label>{{form.hospital.label}}</label>
                            <input type="hidden" value="{{hospital.id}}" name="{{form.hospital.html_name}}">
                            <span class="form-control">{{hospital.nombre}}</span>
                        </div>
                    </div>
                 <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-1">
                     <div class="form-group">
                         <label>{{form.fecha_donacion.label}}</label>
                         <input type="date" id="fecha_donacion" name="{{form.fecha_donacion.html_name}}" value="{{form.fecha_donacion.value}}">
                     </div>
                 </div>
                 <div class="group-send col-lg-12 col-md-12 col-sm-12 col-xs-12 offset-4 ">
                     <div class="from-group">
                         <button class="btn btn-success" type="submit" role="button">Registrar donaci&oacute;n</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
</section>
{% endblock %}