{% extends "base/base.html" %}
{% block title %}Listado de Jefe de Area{% endblock %}
{% block content %}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h3>LISTADO DE JEFES DE AREA</h3>
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 20px; margin-bottom: 20px;">
    <div class="container">
      <div class="card">
            <div class="card-header">
              Filtro
            </div>
            <div class="card-body">
              <h5 class="card-title">B&uacute;squeda</h5>

              <form method="get">
                <div class="form-row">
                    <div class="form-group col-md-3">
                            <input type="text" name="apellido" placeholder="Apellido">
                    </div>
                    <div class="form-group col-md-4 ">
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <a class="btn btn-info" href="{% url 'jefedearea_crear' %}">Crear Jefe de Area</a>
                    </div>
                  </div>
            </form>
      </div>
            </div>
          </div>
</section>
    <section>
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if object_list %}
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th class="text-center">Edad</th>
                            <th class="text-center">N&uacute;mero de Legajo</th>
                            <th class="text-center" colspan="2">Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jefedearea in object_list %}
                        <tr>
                            <td>{{jefedearea.user.first_name}}</td>
                            <td>{{jefedearea.user.last_name}}</td>
                            <td class="text-center">{{jefedearea.calcularEdad}}</td>
                            <td class="text-center">{{jefedearea.numero_legajo}}</td>
                            <td class="text-center"><a class="btn btn-info" href="{% url 'perfil_jefedearea' pk=jefedearea.pk %}" title="Ver perfil"><i class="fas fa-address-card"></i></a></td>
                            <td class="text-center"><a class="btn btn-danger" href="{% url 'jefedearea_borrar' pk=jefedearea.user_id %}">Eliminar</a></td>
                        </tr>

                        {% endfor %}
                        {% else %}
                        <h1><center>No hay Jefes de Area registrados</center></h1>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </section>
{% endblock %}