<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}" />
    <!--style CSS-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
  </head>
    <body>
        <div>
          <div class="row">
            <div class="col-lg-4">
              <div class="logo">
                  <a href="{% url 'inicio' %}" ><img src="{% static 'imagenes/logo2.png' %}"></a>
              </div>
            </div>
              <div class="col-lg-6"></div>
              <div class="col-lg-2">
                  <div class="dropdown">
                      <button class="dropbtn">Menú</button>
                      <div class="dropdown-content">
                        <a href="{% url 'preperfil_jefedearea' %}">Ver Perfil</a>
                        <a href="{% url 'empleado_listar' %}">Tabla Empleados</a>
                        <a href="{% url 'lista_donante' %}">Tabla Donantes</a>
                        <a href="{% url 'empleado_crear' %}">Crear Empleado</a>
                        <a href="{% url 'crear_donante' %}">Crear Donante</a>
                        <a href="{% url 'preperfil_empleado' %}">Ver Estadisticas</a>
                        <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                      </div>
                    </div>
              </div>
          </div>
        </div>
        </header>
    <section class="lista">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                {% if object_list %}
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Numero de Legajo</th>
                            <th>accion</th>
                            <th>segunda accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jefedearea in object_list %}
                        <tr>
                            <td>{{jefedearea.user.first_name}}</td>
                            <td>{{jefedearea.user.last_name}}</td>
                            <td>{{jefedearea.fecha_nacimiento}}</td>
                            <td>{{jefedearea.numero_legajo}}</td>
                            <td><a class="btn btn-success" href="{% url 'perfil_jefedearea' pk=jefedearea.pk %}">ver perfil</a></td>
                            <td><a class="btn btn-danger" href="{% url 'jefedearea_borrar' pk=jefedearea.user_id %}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1><center>No hay Jefe de Áreas Registrados</center></h1>
                        {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </section>
    </body>
    <footer class="foot">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center ">
                <h4 class=foot-tittle>Datos Legales</h4>
                <p>Todo los Derechos Reservados 2019-2020 </p>
              </div>
              <div class="col-lg-4">
              </div>
              <div class="col-lg-4 col-lg-offset-4 text-center">
                <h4 class=foot-tittle>Datos de Contacto</h4>
                <p>mauricio.d.riera@gmail.com</p>
              </div>
            </div>
          </div>
    </footer>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="{% static 'js/bootstrap.js' %}"></script>

</html>