
<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}" />
    <!--style CSS-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
  </head>
    <body>
        <header>
          <div class="row">
            <div class="col-lg-12">
              <div class="logo">
                  <a href="{% url 'inicio' %}" ><img src="{% static 'imagenes/logo2.png' %}"></a>
              </div>
            </div>
          </div>
        </header>
    <section class="perfil">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center"><h1>DATOS DEL EMPLEADO:</h1></div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
             <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <h3>Usuario:{{empleado.user.username}}</h3>
                </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>Nombre: {{empleado.user.first_name}}</h4>
            </div>
                <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>Apellido: {{empleado.user.last_name}}</h4>
            </div>
             <div class="col-lg-4">
                 <h4>Domicilio: {{empleado.direccion}}</h4>
            </div>
                <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>Telefono: {{empleado.telefono}}</h4>
            </div>
             <div class="col-lg-4">
                 <h4>Email: {{empleado.user.email}}</h4>
            </div>
                <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>Hospital mas cercano: {{empleado.hospital}}</h4>
            </div>
             <div class="col-lg-4">
                 <h4>Fecha de Nacimiento: {{empleado.fecha_nacimiento}}</h4>
            </div>
                <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4>Numero de Legajo: {{empleado.numero_legajo}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 text-center" >
                <a class="btn btn-primary" href="{% url 'empleado_modificar' pk=empleado.pk %}">Modificar</a>
                <a class="btn btn-danger" href="{% url 'cerrar_sesion' %}">Salir</a>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </section>
    </body>
      <footer class="foot">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center ">
                <h4 class=foot-tittle>Datos Legales</h4>
                <p>Todo los Derechos Reservados 2019-2020 </p>
              </div>
              <div class="col-lg-4">
              </div>
              <div class="col-lg-4 col-lg-offset-4 text-center">
                <h4 class=foot-tittle>Datos de Contacto</h4>
                <p>mauricio.d.riera@gmail.com</p>
              </div>
            </div>
          </div>
    </footer>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="{% static 'js/bootstrap.js' %}"></script>

</html>