{% block content %}
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>pagina error de permiso</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}" />
    <!--style CSS-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
</head>
<body class="estilohtml_body all">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="notfound" class="all">
                    <div class="notfound all">
                        <div class="notfound-404 all">
                            <h1 class="all">Oops!</h1>
                            <h2 class="all">"USTED NO TIENE PERMISO PARA INGRESAR A ESTA PAGINA"</h2>
                        </div>
                        <a class="btn btn-primary" href="#" onclick="window.history.go(-1); return false;"> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</html>