{% extends "base/base.html" %}
{% block title %}Listado de Donadores{% endblock %}
{% block content %}
<head>
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h3>LISTADO DE DADORES</h3>
            </div>
        </div>
    </div>
</section>
</head>
    <div class="row">
        <div class="col-md-4 offset-4">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}succes{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert" id="alert"><strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
<script>
setTimeout(function() { $(".alert").alert('close'); }, 2000);
</script>
<section style="margin-top: 20px; margin-bottom: 20px;">
    <div class="container">
      <div class="card">
            <div class="card-header">
              Filtro
            </div>
            <div class="card-body">
              <h5 class="card-title">B&uacute;squeda</h5>
              <form method="get">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <select name="grupo" class="form-control">
                            <option>Seleccione un grupo</option>
                            <option {% if request.session.grupo == 'A' %}selected{% endif %}>A</option>
                            <option {% if request.session.grupo == 'B' %}selected{% endif %}>B</option>
                            <option {% if request.session.grupo == 'AB' %}selected{% endif %}>AB</option>
                            <option {% if request.session.grupo == '0' %}selected{% endif %}>0</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="factor" class="form-control">
                            <option>Seleccione un factor</option>
                            <option {% if request.session.factor == '+' %}selected{% endif %}>+</option>
                            <option {% if request.session.factor == '-' %}selected{% endif %}>-</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <a class="btn btn-info" href="{% url 'crear_donante' %}">Crear Donante</a>
                    </div>
                  </div>
            </form>
      </div>
            </div>
          </div>
</section>
<body>

    <section>
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if object_list %}
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th class="text-center">Edad</th>
                            <th class="text-center">Genero</th>
                            <th class="text-center">Grupo Sanguineo</th>
                            <th class="text-center">Factor Sanguineo</th>
                            <th class="text-center" colspan="4">Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donador in object_list %}
                        <tr>
                            <td>{{donador.user.first_name}}</td>
                            <td>{{donador.user.last_name}}</td>
                            <td class="text-center">{{donador.calcularEdad}}</td>
                            <td class="text-center">{{donador.genero}}</td>
                            <td class="text-center">{{donador.grupo_sanguineo}}</td>
                            <td class="text-center">{{donador.factor_sanguineo}}</td>
                            <td class="text-center">
                                <form method="get">
                                    {% if donador.activo == 0 %}
                                        <a class="btn btn-warning" onclick="toggleOnByInput()" href="{% url 'activar_donante' pk=donador.pk %}" title="Activar"><i class="far fa-square"></i></a>
                                    {% else %}
                                        <a class="btn btn-success" onclick="toggleOffByInput()" href="#" data-target="#modal1{{donador.pk}}" data-toggle="modal" title="Desactivar"><i class="far fa-check-square"></i></a>
                                            <div class="modal fade" id="modal1{{donador.pk}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <!-- header de modal -->
                                                            <h4 class="modal-title">Desactivar donante</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <!-- cuerpo del modal -->
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <select class="form-control" name="razon" required>
                                                                    <option value="">Razon de desactivacion</option>
                                                                    <option value="embarazo">Embarazo</option>
                                                                    <option value="infeccion">Portador de infeccion</option>
                                                                    <option value="enfermedad">Enfermedad cronica</option>
                                                                    <option value="donacion">Dono sangre</option>
                                                                </select>
                                                            </div>
                                                         </div>
                                                        <!--footer del modal -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                        <a class="btn btn-danger" href="{% url 'activar_donante' pk=donador.user_id %}" >Desactivar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                </form>
                            </td>
                            <td class="text-center"><a class="btn btn-info" href="{% url 'perfil_donante' pk=donador.pk %}" title="Ver perfil"><i class="fas fa-address-card"></i></a></td>

                            <td class="text-center">
                                {% if donador.hospital.nombre == request.session.hospital %}
                                <a class="btn btn-danger" href="#" data-target="#modal{{donador.pk}}" data-toggle="modal" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                                {% else %}
                                <span class="btn btn-dark"><i class="far fa-trash-alt"></i></span>
                                {% endif %}
                            </td>

                            <td class="text-center"><a class="btn btn-primary" href="{% url 'activar_donante' pk=donador.pk %}" title="Enviar mail"><i class="far fa-envelope"></i></a></td>

                            <div class="modal fade" id="modal{{donador.pk}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <!-- header de modal -->
                                            <h4 class="modal-title">Eliminar Donante</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <!-- cuerpo del modal -->
                                        <div class="modal-body">
                                            <p> Confirma que quiere eliminar el donante </p>
                                        </div>
                                        <!--footer del modal -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            <a class="btn btn-danger" href="{% url 'eliminar_donante' pk=donador.user_id %}" >Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <h1><center>NO HAY DONANTES REGISTRADOS</center></h1>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </section>
</body>
{% endblock %}

