{% extends "base/base.html" %}
{% block title %}Datos del Donante{% endblock %}
{% block content %}
<section class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
            <h3>DATOS DEL DONANTE</h3>
          </div>
      </div>
  </div>
</section>
<section style="margin-top: 20px; margin-bottom: 20px;">
  <div class="container">


    <div class="card">
      <div class="card-header">
        Datos
      </div>
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-user"></i> {{donador.user.username}}</h5>
        <div class="row">
          <div class="col-lg-6">
            <p class="h5"><strong>Nombre:</strong> {{donador.user.first_name}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Apellido:</strong> {{donador.user.last_name}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Domicilio:</strong> {{donador.direccion}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Tel&eacute;fono:</strong> {{donador.telefono}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Email:</strong> {{donador.user.email}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Hospital m&aacute;s cercano:</strong> {{donador.hospital}}</p>
          </div>
          <div class="col-lg-6">
            <p class="h5"><strong>Fecha de Nacimiento:</strong> {{donador.fecha_nacimiento}}</p>
       </div>
       <div class="col-lg-6">
        <p class="h5"><strong>G&eacute;nero:</strong> {{donador.genero}}</p>
    </div>
    <div class="col-lg-6">
      <p class="h5"><strong>Grupo Sanguineo:</strong> {{donador.grupo_sanguineo}}</p>
 </div>
 <div class="col-lg-6">
  <p class="h5"><strong>Factor Sanguineo:</strong> {{donador.factor_sanguineo}}</p>
</div>
      </div>
    {% if donante %}
      <div class="row">
        <div class="col-lg-6 text-left" >
          <a class="btn btn-default" href="{% url 'inicio' %}">Volver</a>
        </div>
        <div class="col-lg-6 text-right" >
            <a class="btn btn-warning"  href="#" data-target="#modal{{donador.pk}}" data-toggle="modal">Eliminar Perfil</a>
            <a class="btn btn-success" href="{% url 'modificar_donante' pk=donador.pk %}">Modificar</a>
        </div>
      </div>
          <div class="modal fade" id="modal{{donador.pk}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <!-- header de modal -->
                                            <h4 class="modal-title">Eliminar Perfil</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <!-- cuerpo del modal -->
                                        <div class="modal-body">
                                            <p> Confirma que desea eliminar su perfil</p>
                                        </div>
                                        <!--footer del modal -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            <a class="btn btn-danger" href="{% url 'eliminar_donante' pk=donador.user_id %}" >Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
    {% else %}
          <div class="row">
            <div class="col-lg-6 text-left" >
                <a class="btn btn-default" href="{% url 'lista_donante' %}">Volver</a>
            </div>
            <div class="col-lg-6 text-right" >
                <a class="btn btn-success" href="{% url 'modificar_donante' pk=donador.pk %}">Modificar</a>
            </div>
          </div>


    {% endif %}
    </div>
  </div>
    </div>
</section>
{% endblock %}